build/
book/
venv/
node_modules/
.hypothesis/
.pytest_cache/
hypothesis_*
__pycache__
.vscode

**/*.o
.DS_Store

# vim swap files
*.swp
*.swo

*/bril.egg-info/
cs265_rust_tests/Output
cs265_rust_tests/.lit_test_times.txt

# Added by cargo

/target
